@import url(//db.onlinewebfonts.com/c/3c6b0199ae7b57966132e83c939d77e2?family=Futura+PT+Medium);

.button-54 {
  font-family: "Futura PT Medium", 'Futura PT Medium';
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;
}

.button-55 {
  font-family: "Futura PT Medium", 'Futura PT Medium';  
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(82, 14, 14);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;

  }

.button-55:active {
  box-shadow: 1px 1px 1px 1px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
.inputTest {
  width: 20%;
  height: 40px;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;

}

.trink {
    color: '#E84141';
    font-weight: 'bold';  
  }

body {

  color: white;

}


.icons {
  content: 'x';
  cursor: pointer;
  position: absolute;
  right: 45%;
  top: 30%;
  height: 100px;
  max-height: 40%;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  
}